// Colors
@c-brand-orange: #ff9900;

@c-font-default: #444444;
@c-font-dark: #000000;

@c-accent-grey: #eeeeee;
@c-accent-grey-2: #fafafa;
@c-accent-grey-3: #f3f3f3;
@c-accent-grey-4: #dadfe1;


// Typography
@fs-headline-main: 1.8em;

@fs-tweet-name: 1.4em;
@fs-tweet-handle: 1.2em;
@fs-tweet-body: 1.4em;
@fs-tweet-date: 1.2em;

// Styles
#m5be90792-7562-4435-ae9c-48deea1b3fc9 {
  position: relative;
  font-size: 10px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: @c-font-default;
  z-index: 999;

  a{
    &:hover, &:active{
      text-decoration: underline;
    }
  }

  h3{
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: @fs-headline-main;
  }

  h4, h5{
    display: inline-block;
    margin-bottom: 0;
  }

  h4{
    font-size: @fs-tweet-name;
    font-weight: 600;
    margin-right: 10px;
  }

  h5{
    font-weight: 400;
    font-size: @fs-tweet-handle;
    color: @c-font-default;
  }

  p{
    font-size: @fs-tweet-body;
    font-weight: 400;
  }

  a{
    color: @c-font-default;
  }

  .wrapper-tweet{
    background-color: white;
    border: 1px solid @c-accent-grey;
    padding: 20px 20px 10px;
    overflow: hidden;

    &.fallback{
      .tweet-cap{
        img{
          margin-top: 0;
        }

        .wrapper-content{
          margin-bottom: 10px;
        }
      }
    }
  }

  .tweet{
    opacity: 1;
    height: 0;
    transition: opacity 200ms linear 100ms, transform 200ms ease-out;
    transform: translateX(300px);

    &[data-active='1']{
      height: 100%;
      transform: none !important;
    }

    &[data-stage-left='1']{
      transform: translateX(-300px);
    }
  }

  .tweet-cap{
    text-align: center;

    img{
      height: 50px;
      margin: 20px 0 10px;
    }

    a{
      text-decoration: none;
      color: @c-font-default;

      &:active, &:hover{
        text-decoration: underline;
        color: @c-font-default;
      }
    }

    .wrapper-content{
      margin-bottom: 50px;
    }
  }

  .wrapper-name{
    display: block;
    margin-bottom: 5px;
  }

  .wrapper-content{
    display: block;
    margin-bottom: 20px;
  }

  .wrapper-date{
    display: block;
    text-align: right;
    margin-bottom: 5px;
  }

  #wrapper-controls{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    border-bottom: 1px solid @c-accent-grey;
    border-left: 1px solid @c-accent-grey;

    img{
      border: 1px solid @c-accent-grey;
      border-bottom: 0;
      height: 15px;
      cursor: pointer;
      padding: 10px;
      box-sizing: content-box;

      &:nth-child(1){
        border-left: 0;
      }

      &:nth-child(2){
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }

      &[disabled=true]{
        opacity: .1;
        background-color: @c-accent-grey-3;
        cursor: default;
      }

      &:hover{
        &:not([disabled="true"]){
          background-color: @c-accent-grey-2;
        }
      }

      &:active{
        &:not([disabled="true"]){
          background-color: @c-accent-grey-3;
        }
      }
    }
  }

  #logo-twitter{
    position: absolute;
    top: 0;
    right: 10px;
    height: 20px;
  }
}
